<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Admin</title>
	<link rel="icon" type="image/png" sizes="32x32" th:href="@{../image/icon-book-shop-64.png}">
	<link rel="stylesheet"
		href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
		crossorigin="anonymous">
	
	<!-- LINK JQUERY -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
 
    <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
   		crossorigin="anonymous"></script>
   	<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
   	<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js" ></script>
   
  	 <!-- LINK FONTAWESOME -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
	<link th:href="@{../css/dashboard.css}" rel="stylesheet">
</head>
	
<body>
	<!-- ============================== HEADER ================================= -->
	<nav class="navbar navbar-dark fixed-top bg-primary flex-md-nowrap p-0 shadow">
		<a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#" >
			<img style="max-height: 30px;" alt="book-store" th:src="@{../image/icon-book-shop-64.png}">
			Book store
		</a> 
		
		<div class="input-group col-sm-6 col-md-5">
		    <input type="text" class="form-control " placeholder="Search please..">
		    <div class="input-group-append">
		      <button class="btn btn-secondary" type="button">
		        <i class="fa fa-search"></i>
		      </button>
		    </div>
  		</div>
  		
		<ul class="navbar-nav px-3">
			<li class="nav-item text-nowrap">
				<a class="nav-link text-light" href="#">Sign out</a>
			</li>
		</ul>
	</nav>
	
	<button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!">
		<span data-feather="home"></button>
	
	<div class="container-fluid">
		<div class="row">
		
			<!-- ================= NAVIGATION =================== -->
			<nav class="col-md-2 d-none d-md-block bg-light sidebar">
				<div class="sidebar-sticky">
					<ul class="nav flex-column nav-style" style="font-size:1rem;">
						<li class="nav-item"><a class="nav-link" th:href="@{/admin/statisticts}"> 
							<i class="fas fa-tasks mr-2"></i>Statistics	
						</a></li>
						<li class="nav-item"><a class="nav-link active" th:href="@{/admin/book}">
								<i class="fas fa-book mr-2"></i>Books
						</a></li>
						<li class="nav-item"><a class="nav-link" th:href="@{/admin/order}">
						<i class="fas fa-shopping-cart mr-2"></i>Orders
							</a></li>
						<li class="nav-item"><a class="nav-link" th:href="@{/admin/review}"> 
							<i class="far fa-comments mr-2"></i>Reviews
						</a></li>
						<li class="nav-item"><a class="nav-link" th:href="@{/admin/customer}">   
							<i class="fas fa-users mr-2"></i>Customers
						</a></li>
					</ul>
				</div>
			</nav>
			
			<!-- ===================MAIN CONTENT=================== -->
			<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
				<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-1 pb-1 mb-1 border-bottom">
					<div class="m-2">
						<button type="button" class="btn btn-success">
							<i class="fas fa-plus"></i> Add new</i>
						</button>
					</div>
					<div class="btn-toolbar mb-2 mb-md-0">
						<div class="btn-group mr-2">
							<button class="btn btn-sm btn-outline-secondary">Share</button>
							<button class="btn btn-sm btn-outline-secondary">Export</button>
						</div>
						<button class="btn btn-sm btn-outline-secondary dropdown-toggle">
							<span data-feather="calendar"></span> This week
						</button>
					</div>
				</div>
				
				<div class="table-responsive rounded-top rounded-bottom">
					<table class="table table-bordered" id="myTable">
						<thead>
							<tr class="table-warning">
								<th scope="col">Id</th>
						      	<th scope="col">Name</th>
						      	<th style=" width:15%" scope="col">Picture</th>
						      	<th style=" width:15%" scope="col">Price</th>
						      	<th style=" width:15%" scope="col">Total Quantity</th>
						      	<th class="align-middle" style=" width:10%;" scope="col">Alter</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="book : ${listBook}">
								<td th:text="*{book.getIdBook()}">##</td>
								<td th:text="*{book.getBookName()}">##</td>
								<td class="align-middle text-center" >
									<img style="height:120px;width:auto;" class="card-img-top " th:src="@{'../image/' + *{book.getPicture()}}"
										alt="Card image cap">
								</td>
								<td th:text="*{#numbers.formatDecimal(book.getPrice(),3,0)}">##</td>
								<td th:text="*{book.getTotalQuantity}">##</td>
								<td class="align-middle text-center">
									<button type="button" class="btn btn-warning m-1">
							          <i class="far fa-edit"></i>
							        </button>
							        <button type="button" class="btn btn-danger">
							          <i style="color:black;" class="far fa-trash-alt"></i>
							        </button>
						      </td>
							</tr>
						</tbody>
					</table>
				</div>
			</main>
		</div>
	</div>
	<!-- SCRIPT HANDLE NAVIGATION -->
	<script type="text/javascript">
		const listNav=document.querySelectorAll(".nav-style > .nav-item");
		listNav.forEach((nav,index)=>{
			nav.onclick=()=>{
				$(".nav-link.active").classList.remove("active")
				nav.querySelector(".nav-link").classList.add("active");
			}
		})
	</script>
	<script>
     $(document).ready( function () {
    	$('#myTable').DataTable();
     /* const selects=$(".dataTables_length select[name='myTable_length']")
     selects.children().remove();
   	 selects.append("<option id='5' value='5'>5</option>",
	    			 "<option value='10'>10</option>",
	    			 "<option value='15'>15</option>",
	    			 "<option value='20'>20</option>");
   	$('#5').selected="true"
   	console.log(selects.selectedIndex) */
	    			
 } );
     </script>
</body>
</html>