<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Home page</title>

<link rel="stylesheet" type="text/css" th:href="@{../../css/style.css}">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">


<link rel="stylesheet"
	href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
	integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
	crossorigin="anonymous" />
</head>

<body>









		<div class="row header">



			<div id="header" th:fragment="navbar-fragment" class="container-fluid" style="text-align: center">
				<nav class="navbar navbar-expand-lg navbar-dark bg-dark"
					id="navbar-homepage">

					<!-- <img style="with: 100%; height: 100%" th:src="@{/image/logo.jpg}"
							class="brand_logo" alt="Logo"> -->
					<a class="navbar-brand" href="/home/view" style="font-size :26px; font-weight: bold">Book store</a>
					<button class="navbar-toggler" type="button" data-toggle="collapse"
						data-target="#navbarSupportedContent"
						aria-controls="navbarSupportedContent" aria-expanded="false"
						aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>




					<div class="collapse navbar-collapse" id="navbarSupportedContent">
						<ul class="navbar-nav mr-auto">

							<li class="nav-item dropdown"><a
								class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
								role="button" data-toggle="dropdown" aria-haspopup="true"
								aria-expanded="false"> Danh mục sách </a>
								<div class="dropdown-menu" aria-labelledby="navbarDropdown" style="background-color: rgb(52, 58, 64)">
									<a class="dropdown-item"
										th:href="@{'/home/category/' + ${category.categoryId} }"
										th:each="category, state: ${categories}"
										th:text="${category.name}"></a>


								</div></li>


						</ul>
						<form class="form-inline my-2 my-lg-0" th:action="@{/home/search}">
							<input class="form-control mr-sm-2" type="search"
								style="margin-right: 100px" placeholder="Search"
								aria-label="Search" name="searchvalue">
							<button class="btn btn-outline-danger my-2 my-sm-0" type="submit"
								style="color: gold">
								<i class="fas fa-search"></i>
							</button>



						</form>


					<a th:href="@{/account/check-login}" style="margin-left: 20px"><i class="far fa-user"></i></a> 
					<a th:href="@{/cart}" style="margin-left: 20px"> <i class="fas fa-shopping-cart"></i></a>
					</div>

				</nav>

			</div>


		</div>
		
		<!-- CAROUSEL -->
		<div class="row">
			<div class="col-md-12" style="width:820px; heigth:312px">
				<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
						  <ol class="carousel-indicators">
						    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
						    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
						    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
						  </ol>
						  <div class="carousel-inner">
						    <div class="carousel-item active">
						      <img class="d-block w-100" th:src="@{../../image/background0.jpg}"  alt="First slide">
						    </div>
						    <div class="carousel-item">
						      <img class="d-block w-100" th:src="@{../../image/background6.jpg}"  alt="Second slide">
						    </div>
						    <div class="carousel-item">
						      <img class="d-block w-100" th:src="@{../../image/background7.jpg}"  alt="Third slide">
						    </div>
						  </div>
						  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
						    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
						    <span class="sr-only">Previous</span>
						  </a>
						  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
						    <span class="carousel-control-next-icon" aria-hidden="true"></span>
						    <span class="sr-only">Next</span>
						  </a>
		</div>
			</div>
		</div>

	

	
	
	








	<!-- product cards -->

	<div class="container">

		<div class="row body-homepage">

			<div class="col-md-4 col-sm-6" th:each="product, state: ${list}"
				style="margin-top: 50px">
				<div class="card card-book" style="width: 18rem;">
					<img class="card-img-top"
						th:src="@{'../../image/' + ${product.picture}}"
						alt="Card image cap">
					<div class="card-body">
						<h5 class="card-title" th:text="${product.bookName}"></h5>
						<h5 class="card-title"
							th:text="${#numbers.formatDecimal(product.price,3,0)} + ' VND'"></h5>

						<a th:href="@{'/book/'+${product.idBook}}" class="btn btn-primary">MUA</a>
					</div>
				</div>
			</div>


		</div>


		<!-- PAGEING -->

		<div class="row" style="padding-top: 20px">
			<nav aria-label="Page navigation example">
				<ul class="pagination">
					<li class="page-item"><a class="page-link"
						th:if="${currentPage > 1}"
						th:href="@{'/home/view/' + ${pageFirst} }">First</a> <span
						class="page-link" th:unless="${currentPage > 1}">First</span></li>



					<span th:each="i : ${#numbers.sequence(1, totalPage)}"> <a
						class="page-link" th:if="${currentPage != i}"
						th:href="@{'/home/view/' + ${i} }">[[${i}]]</a> <span
						class="page-link" th:unless="${currentPage != i}">[[${i}]]</span>
					</span>

					<li class="page-item"><a class="page-link"
						th:if="${currentPage < totalPage}"
						th:href="@{'/home/view/'+${totalPage}}">Last</a> <span
						class="page-link" th:unless="${currentPage < totalPage}">Last</span>
					</li>
				</ul>
			</nav>
		</div>
		<br> <br>

	</div>




	</div>

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>




</body>
</html>




