<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Đăng nhập tài khoản</title>
<link rel="stylesheet" type="text/css"
	th:href="@{../css/loginstyle.css}">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
</head>
<body>
	<div class="container h-100">
		<div class="d-flex justify-content-center h-100">
			<div class="user_card">
				<div class="d-flex justify-content-center">
					<div class="brand_logo_container">
						<img style="with: 100%; height: 100%" th:src="@{/image/logo.jpg}"
							class="brand_logo" alt="Logo">
					</div>
				</div>
				<div class="d-flex justify-content-center form_container">
					<form name='f' th:action="@{/j_spring_security_check}"
						method='POST'>
						<div th:if="${logoutSuccess == true}"
							style="color: black; margin: 10px 0px; font-size: 22px">
							Bạn đã đăng xuất!<br />

						</div>
						<div class="input-group mb-3">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fas fa-user"></i></span>
							</div>
							<input type="text" name="username"
								class="form-control input_user" value=""
								placeholder="Tên đăng nhập">
						</div>
						<div class="input-group mb-2">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fas fa-key"></i></span>
							</div>
							<input type="password" name="password"
								class="form-control input_pass" value="" placeholder="Mật khẩu">
						</div>
						<div class="form-group">
							<div class="custom-control custom-checkbox">
								<input type="checkbox" class="custom-control-input"
									id="customControlInline" name="remember-me"> <label
									class="custom-control-label" for="customControlInline">Remember
									me</label>
							</div>
						</div>
						<div class="d-flex justify-content-center mt-3 login_container">
							<button type="submit" name="submit" class="btn login_btn">Đăng
								nhập</button>
						</div>
					</form>
				</div>

				<!-- LOGIN FAILED -->
				<!-- <div th:if="${#request.getParameter('error') == 'true'}"
					style="color: red; margin: 10px 0px;">
					Login Failed!!!<br /> Reason : <span
						th:if="${#session!= null and #session.getAttribute('SPRING_SECURITY_LAST_EXCEPTION') != null}"
						th:utext="${#session.getAttribute('SPRING_SECURITY_LAST_EXCEPTION').message}">
						Static summary </span>

				</div> -->
				<div th:if="${#request.getParameter('error') == 'true'}"
					style="color: red; margin: 10px 0px;">
					Đăng nhập thất bại<br />Kiểm tra username và mật khẩu

				</div>
				<div class="mt-4">
					<div class="d-flex justify-content-center links">
						Bạn chưa có tài khoản? <a href="/account/signup" class="ml-2">Đăng
							ký</a>
					</div>
					<!-- <div class="d-flex justify-content-center links">
						<a href="#">Forgot your password?</a>
					</div> -->
				</div>
			</div>
		</div>
	</div>



	<!-- BOOTSTRAP LINK -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
</body>
</html>