<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Tìm kiếm với "${searchValue}"</title>
<link rel="stylesheet" type="text/css" th:href="@{../css/style.css}">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
	
	
	<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
	
</head>
<body>


			<!-- NAVBAR -->
<div class="row header" th:insert="~{home::navbar-fragment}"> </div>




<div class="container">

		<div class="row body-homepage">

			<div class="col-md-4 col-sm-6" th:each="product, state: ${list}"
				style="margin-top: 50px">
				<div class="card card-book" style="width: 18rem;">
					<img class="card-img-top" th:src="@{'../../image/' + ${product.picture}}"
						alt="Card image cap">
					<div class="card-body">
						<h5 class="card-title" th:text="${product.bookName}"></h5>
						<h5 class="card-title"
							th:text="${#numbers.formatDecimal(product.price,3,0)} + ' VND'"></h5>

						<a th:href="@{'/book/'+${product.idBook}}" class="btn btn-primary">MUA</a>
					</div>
				</div>
			</div>
	
		
		</div>
	  <div class="row" style="padding-top: 20px">
			<nav aria-label="Page navigation example">
				<ul class="pagination">
					<li class="page-item"><a class="page-link"
						th:if="${currentPage > 1}"
						th:href="@{'/home/search/'+${pageFirst}+'?searchvalue='+${searchValue}}">First</a> <span
						class="page-link" th:unless="${currentPage > 1}">First</span></li>


			 	 <span th:each="i : ${#numbers.sequence(1, totalPage)}"> <a
						class="page-link" th:if="${currentPage != i}"
						th:href="@{'/home/search/'+${i}+'?searchvalue='+${searchValue}}">[[${i}]]</a> <span
						class="page-link" th:unless="${currentPage != i}">[[${i}]]</span>
					</span> 

					<li class="page-item"><a class="page-link"
						th:if="${currentPage < totalPage}"
						th:href="@{'/home/search/'+${totalPage}+'?searchvalue='+${searchValue}}">Last</a> <span
						class="page-link" th:unless="${currentPage < totalPage}">Last</span>
					</li> 
				</ul> 
			</nav>
		</div> 
		<br> <br>




	</div>




<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
</body>
</html>