<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Home page</title>
<link rel="stylesheet" type="text/css" th:href="@{css/style.css}">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
</head>
<body>

	<div id="header" class="container-fluid" style="text-align: center">
		<nav class="navbar navbar-expand-lg " id="navbar-homepage">
			<a class="navbar-brand" href="#">Home</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					
					<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
						role="button" data-toggle="dropdown" aria-haspopup="true"
						aria-expanded="false"> Danh mục sách </a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a class="dropdown-item" href="#">Sách giáo khoa</a> <a
								class="dropdown-item" href="#">Sách selfhelp </a><a
								class="dropdown-item" href="#">Truyện tranh </a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="#">Something else here</a>
						</div></li>
					
					<li class="nav-item"><a class="nav-link" href="#">Tài khoản</a></li>
				</ul>
				<form class="form-inline my-2 my-lg-0">
					<input class="form-control mr-sm-2" type="search"
						placeholder="Search" aria-label="Search">
					<button class="btn btn-outline-danger my-2 my-sm-0" type="submit" style="color: red">Search</button>
				</form>
			</div>
		</nav>
		<h1 style="margin-top:200px;color: red;font-family: Georgia">Giá rẻ như cho</h1>
	</div>
	
	
	<!-- product cards -->
	<div id="body-product" class="container-fluid">
		<h1>This is homepage</h1>
	</div>
	<div class="container">
		<div class="row body-homepage" >
			
			<div class="col-md-4 col-sm-6" th:each="product, state: ${list}">
			<p th:text="${state.index}"></p>
				<div class="card card-book" style="width: 18rem;">
					<img class="card-img-top" th:src="@{'image/' + ${product.picture}}" alt="Card image cap">
					<div class="card-body">
						<h5 class="card-title" th:text="${product.name}"></h5>
						<p class="card-text" th:text="${product.describe}"></p>
						<a th:href="@{'/product/'+${product.id}}" class="btn btn-primary">Go somewhere</a>
					</div>
				</div>
			</div>
			
			
		</div>

		<!--product cards:  row 2 -->
<!-- 
		<div class="row body-homepage">
			<div class="col-md-4 col-sm-6">
				<div class="card card-book" style="width: 18rem;">
					<img class="card-img-top" src="image/book.jpg" alt="Card image cap">
					<div class="card-body">
						<h5 class="card-title">Card title</h5>
						<p class="card-text">You can win</p>
						<a href="#" class="btn btn-primary">Go somewhere</a>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-sm-6">
				<div class="card card-book" style="width: 18rem;">
					<img class="card-img-top" src="image/book.jpg" alt="Card image cap">
					<div class="card-body">
						<h5 class="card-title">Card title</h5>
						<p class="card-text">You can win</p>
						<a href="#" class="btn btn-primary">Go somewhere</a>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-sm-6">
				<div class="card card-book" style="width: 18rem;">
					<img class="card-img-top" src="image/book.jpg" alt="Card image cap">
					<div class="card-body">
						<h5 class="card-title">Card title</h5>
						<p class="card-text">You can win</p>
						<a href="#" class="btn btn-primary">Go somewhere</a>
					</div>
				</div>
			</div>
		</div> -->



	</div>

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
</body>
</html>