<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title th:replace = "/admin/fragments/head-tag.html :: title">Title</title>
	<th:block th:insert="/admin/fragments/head-tag.html :: link"></th:block>
	<link th:href="@{/css/admin/book-property.css}" rel="stylesheet">
	<link th:href="@{/css/admin/popup.css}" rel="stylesheet">
</head>
	
<body>
	<div class="main__overlay"></div>
	 <div id="toast"></div>
	<!-- ============================== HEADER ================================= -->
	<div th:replace="/admin/fragments/header.html :: admin-header('/admin/author/search')"></div>
	
	<div class="container-fluid">
		<div class="row">
		
			<!-- ================= NAVIGATION =================== -->
			<nav th:replace="/admin/fragments/navigation.html :: admin-nav('Author')"></nav>
			
			<!-- ===================MAIN CONTENT=================== -->
			<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4 position-relative">
			
				<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-1 pb-1 mb-2 border-bottom position-relative" >
					<div class="m-2 sub-add mb-3">
						<button type="button" class="btn btn-success btn__add--book-propterty">
							<i class="fas fa-plus"></i> Add new
						</button>
						<!-- ===============FORM ADD BOOK =========================-->
						<form th:action="@{/admin/author/save}" th:object="${author}" method="post" class="from__add--book-propterty d-none">
							<!-- =================== FIELD ID ================== -->
							<input th:field="*{idAuthor}" type="hidden" class="addId" >
							<!-- =================== FIELD TÊN SÁCH ================== -->
							<div class="d-flex align-items-start ">
							<div>
								<input th:field="*{name}" type="text" class="form-control input-add" id="name-add" placeholder="Tên thể loại">
									<p class="form-message" >Không hợp lệ !!</p>
							</div>&nbsp;
							<!-- BUTTON SUBMIT -->
								<button type="submit" class="btn btn-primary btn-submit">Thêm</button>
							</div>
						</form>	
					</div>
				</div>
				
				<!-- TABLE VIEW -->
				<div class="table-responsive rounded-top rounded-bottom">
					<table class="table table-bordered" id="myTable">
						<thead>
							<tr class="table-warning">
								<th scope="col" style=" width:10%;">ID</th>
						      	<th scope="col">Name</th>
						      	<th class="align-middle" style=" width:10%;" scope="col">Alter</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="author : ${listauthor}">
								<td th:text="${author.idAuthor}">##</td>
								<td> <p class="content"> [[${author.name}]]</p>
									<form th:action="@{/admin/author/save}" th:object="${author}" method="post" class="from__edit--book-propterty d-none w-100">
										<!-- =================== FIELD ID ================== -->
										<input th:field="*{idAuthor}" id="author-id" type="hidden">
										<!-- =================== FIELD TÊN SÁCH ================== -->
										<div class="d-flex align-items-start ">
										<div style="width: 90%;">
											<input th:field="*{name}" type="text" class="form-control input w-100" id="name-edit" placeholder="Tên thể loại">
											<p class="form-message" >Không hợp lệ !!</p>
										</div>&nbsp;
										<!-- BUTTON SUBMIT -->
											<button type="submit" class="btn btn-warning btn-submit">Sửa</button>
										</div>
									</form>	
								</td>
								<td class="align-middle text-center">
									<button type="button" class="btn btn-warning m-1 btn__edit--book-propterty" th:id="${author.idAuthor}">
							          <i class="far fa-edit"></i>
							        </button>
							        <button type="button" class="btn btn-danger btn__delete--book-propterty" th:id="${author.idAuthor}">
							          <i style="color:black;" class="far fa-trash-alt"></i>
							        </button>
						      </td>
							</tr>
						</tbody>
					</table>
					
					
					<div th:if = "${totalPage > 1}">
						<div class = "row col-sm-10">
							<div class = "col-sm-2">
								Total Items: [[${totalItem}]]	
							</div>
							<a class="page-links btn btn-outline-primary" th:if="${currentPage > 1}" th:href="@{'/admin/author/' + ${pageFirst} }">First</a>&nbsp; &nbsp;
							<span class="btn btn-outline-primary active" th:unless="${currentPage > 1}">First</span>&nbsp; &nbsp;
							
							<span th:each="i : ${#numbers.sequence(1, totalPage)}">
								<a class="page-links btn btn-outline-primary" th:if="${currentPage != i}" th:href= "@{'/admin/author/' + ${i}}">[[${i}]]</a>
								<span class="btn btn-outline-primary active" th:unless="${currentPage != i}">[[${i}]]</span> &nbsp; &nbsp;
							</span>
								
							<a class="page-links btn btn-outline-primary" th:if="${currentPage < totalPage}" th:href="@{'/admin/author/' + ${currentPage +1} }">Next</a>&nbsp; &nbsp;
							<span class="btn btn-outline-primary active" th:unless="${currentPage < totalPage}">Next </span>&nbsp; &nbsp;
							
							<a class="page-links btn btn-outline-primary" th:if="${currentPage < totalPage}" th:href="@{'/admin/author/'+${totalPage}}">Last</a>
							<span class="btn btn-outline-primary active" th:unless="${currentPage < totalPage}">Last</span>
						</div>
					
					</div>
					
				</div>
			<!-- ===============DIALOG DELETE BOOK =======================-->
				<form th:action="@{/admin/author/delete}" class="from__confirm" th:method="post">
					<div class="card">
						<div class="card-header">Xác nhận xóa</div>
						
						<div class="card-body" style="text-align: center;">
							<span class="card-text ">Bạn chắc chắn muốn Thể loại:</span><br> <strong id="form-content"></strong>
							<input type="text" class="form-control input-delete d-none" name="id" th:value="${author.idAuthor}">
							<div class="btns-comfirm d-flex justify-content-end" style="margin-top: 15px;">
														
								<a style="color: white;cursor: pointer;" class="btn btn-secondary btn-cancel mr-3">Hủy</a>
								
								<button type="submit" class="btn btn-primary">Xác Nhận</button>
								
							</div>
							
						</div>
					</div>
				</form>			
			
			</main>
		</div>
	</div>
	<br> <br>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
	<script th:src="@{/script/adminJs/headerHandle.js}" ></script>
	<script th:src="@{/script/adminJs/book-property.js}"></script>
	<script th:src="@{/script/adminJs/popup.js}"></script>
	<script th:src="@{/script/validate_input.js}"></script>
      <script th:inline="javascript">
        Validator({
          form: '.from__add--book-propterty',
          rules:[
            Validator.isRequired('#name-add'),
          ]
        });
        Validator({
            form: '.from__edit--book-propterty',
            rules:[
              Validator.isRequired('#name-edit'),
            ]
          });
        
        $(document).ready(function() {
        	
        	/*<![CDATA[*/
	    	    var successMes = /*[[${successMes}]]*/ 'default';
	    	    var erorrMes = /*[[${erorrMes}]]*/ 'default';
			/*]]>*/
			checkPopup(successMes,erorrMes)
			
          	//load lại vị trí scroll chuột
   			var lastScrollTop = $.cookie('last-scroll-top');
   			if (lastScrollTop) {
   			    $(window).scrollTop(lastScrollTop);
   			    console.log(lastScrollTop)
   			    $.removeCookie('last-scroll-top');
   				} 
   			
        	$('.btn__edit--book-propterty').on('click',function(){
        		/*<![CDATA[*/
	        	    var listauthor = /*[[${listauthor}]]*/ 'default';
        		/*]]>*/
        		
        	    var id = $(this).attr('id')
        	    var author =listauthor.find(element=>element.idAuthor==id)
    			$('.from__edit--book-propterty #author-id').val(author.idAuthor);
    			$('.from__edit--book-propterty #name-edit').val(author.name);
    			
    			const btnEdit = $(this);/* btn edit  author */
    			const frmEdit = $(this).parents("tr").find("form");
        	});
 	    			
   			//lưu vị trí scroll trước khi chuyển page
   			$(".page-links").on('click',function(){
   				$.cookie('last-scroll-top', $(window).scrollTop());
   			})
   			$('.btn-submit').on('click',function(){
   				$.cookie('last-scroll-top', $(window).scrollTop());
   			})
        	
        });
        
        
        
      </script>
	
</body>
</html>