<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title th:replace = "/admin/fragments/head-tag.html :: title">Title</title>
	<th:block th:insert="/admin/fragments/head-tag.html :: link"></th:block>
	<link th:href="@{/css/admin/book.css}" rel="stylesheet">
	<link th:href="@{/css/admin/popup.css}" rel="stylesheet">
</head>
	
<body>
	<div class="main__overlay"></div>
	 <div id="toast"></div>
	<!-- ============================== HEADER ================================= -->
	<div th:replace="/admin/fragments/header.html :: admin-header('/admin/book/search')"></div>
	
	<div class="container-fluid">
		<div class="row">
		
			<!-- ================= NAVIGATION =================== -->
			<nav th:replace="/admin/fragments/navigation.html :: admin-nav('Books')"></nav>
			
			<!-- ===================MAIN CONTENT=================== -->
			<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4 position-relative">
			
				<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-1 pb-1 mb-1 border-bottom position-relative" >
					<div class="m-2">
						<button type="button" class="btn btn-success btn__add--book">
							<i class="fas fa-plus"></i> Add new</i>
						</button>
					</div>
					 <!-- find book -->
					<!--<form class="form-inline my-2 my-lg-0 col-sm-10 col-md-10" th:action="@{/admin/book/search}">
							<input class="form-control mr-sm-2 col-sm-9 col-md-10" type="search" style="margin-right: 100px" placeholder="Search" aria-label="Search" name="searchvalue">
							<button class="btn btn-secondary my-2 my-sm-0 " type="submit" style="color: white">
								<i class="fas fa-search"></i>
							</button>
					</form> -->
						
						
					<div class="btn-toolbar mb-2 mb-md-0">
						<div class="btn-group mr-2">
							<button class="btn btn-sm btn-outline-secondary">Share</button>
							<button class="btn btn-sm btn-outline-secondary">Export</button>
						</div>
						<button class="btn btn-sm btn-outline-secondary dropdown-toggle">
							<span data-feather="calendar"></span> This week
						</button>
					</div>
					
				</div>
				
				<!-- TABLE VIEW -->
				<div class="table-responsive rounded-top rounded-bottom">
					<table class="table table-bordered" id="myTable">
						<thead>
							<tr class="table-warning">
								<th scope="col">
								<a th:href="@{'/admin/book/' + ${currentPage} + '?sortField=idBook&sortDir=' +${reverseSortDir}} ">ID</a></th></th>
						      	<th scope="col">
						      	<a th:href="@{'/admin/book/' + ${currentPage} + '?sortField=bookName&sortDir=' +${reverseSortDir}} ">Name</a>
						      	</th>
						      	<th style=" width:15%" scope="col">Picture</th>
						      	<th style=" width:15%" scope="col">
						      	<a th:href="@{'/admin/book/' + ${currentPage} + '?sortField=price&sortDir=' +${reverseSortDir}} ">Price</a>
						      	</th>
						      	<th style=" width:15%" scope="col">
						      	<a th:href="@{'/admin/book/' + ${currentPage} + '?sortField=totalQuantity&sortDir=' +${reverseSortDir}} ">Total Quantity</a></th>
						      	<th class="align-middle" style=" width:10%;" scope="col">Alter</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="book : ${listBook}">
								<td th:text="${book.idBook}">##</td>
								<td th:text="${book.getBookName()}">##</td>
								<td class="align-middle text-center" >
									<img style="height:120px;width:auto;" class="card-img-top " th:src="@{'/image/' + ${book.getPicture()}}"
										alt="Card image cap">
								</td>
								<td th:text="${#numbers.formatDecimal(book.price, 0, 'POINT', 0, 'POINT')+' đ'}">##</td>
								<td th:text="${book.getTotalQuantity}">##</td>
								 
								<td class="align-middle text-center">
									<button type="button" class="btn btn-warning m-1 btn__edit--book">
							          <i class="far fa-edit"></i>
							        </button>
							        <button type="button" class="btn btn-danger btn__delete--book" th:id="${book.getIdBook()}">
							          <i style="color:black;" class="far fa-trash-alt"></i>
							        </button>
							       <input type="hidden" id="idBook" name="idBook" th:value="${book.idBook}" >
						      </td>
							</tr>
						</tbody>
					</table>
					
					
					<div th:if = "${totalPage > 1}">
						<div class = "row col-sm-10">
							<div class = "col-sm-2">
								Total Items: [[${totalItem}]]	
							</div>
							<a class="page-links btn btn-outline-primary" th:if="${currentPage > 1}" th:href="@{'/admin/book/' + ${pageFirst}  + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">First</a>&nbsp; &nbsp;
							<span class="btn btn-outline-primary active" th:unless="${currentPage > 1}">First</span>&nbsp; &nbsp;
							
							<span th:each="i : ${#numbers.sequence(1, totalPage)}">
								<a class="page-links btn btn-outline-primary" th:if="${currentPage != i}" th:href= "@{'/admin/book/' + ${i} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} }">[[${i}]]</a>
								<span class="btn btn-outline-primary active" th:unless="${currentPage != i}">[[${i}]]</span> &nbsp; &nbsp;
							</span>
								
							<a class="page-links btn btn-outline-primary" th:if="${currentPage < totalPage}" th:href="@{'/admin/book/' + ${currentPage +1} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} }">Next</a>&nbsp; &nbsp;
							<span class="btn btn-outline-primary active" th:unless="${currentPage < totalPage}">Next </span>&nbsp; &nbsp;
							
							<a class="page-links btn btn-outline-primary" th:if="${currentPage < totalPage}" th:href="@{'/admin/book/'+${totalPage} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} }">Last</a>
							<span class="btn btn-outline-primary active" th:unless="${currentPage < totalPage}">Last</span>
						</div>
					
					</div>
					
				</div>
			
			<!-- ===============FORM ADD BOOK =========================-->
				<form th:action="@{/admin/book/save}" th:object="${book}" method="post"
				enctype="multipart/form-data" class="from__add--book">
					<div class="card">
						<div style="" class="card-header ">
							<span>NEW BOOK</span><i style="z-index: 1000;" class="far fa-times-circle btn-close-from"></i>
						</div>
						<div class="card-body ">
							<div class="form-row">
								<div class="form-group col-md-6">
									<div class="form-row">
									<!-- =================== FIELD ID ================== -->
									<input th:field="*{idBook}" type="hidden" id="idBook"   >
									<!-- =================== FIELD TÊN SÁCH ================== -->
										<div class="form-group col-md-12">
											<label for="book-name">Tên Sách</label> 
											<input th:field="*{bookName}" type="text" class="form-control" id="book-name" placeholder="VD: Đắc nhân tâm">
												<p class="form-message" >Không hợp lệ !!</p>
										</div>
									</div>
									<div class="form-row">
									
									<!-- =================== FIELD TÊN TÁC GIẢ ================== -->
										<div class="form-group col-md-6">
											<label for="author">Tác giả: </label>
											<div class="wrapper-option-input" id="author-wrapper">
												<input name="authorName" type="text" class="form-control option-input" id="author" placeholder="Nguyễn Nhật Ánh">
												<select  for="author" multiple id="category" class="form-control box-options">
													<option th:each="author : ${listAuthor}"
														th:utext="${author.name}"
														th:value="${author.idAuthor}"></option>
												</select>
												<p class="form-message">Không hợp lệ !!</p>
											</div>
										</div>
										
									<!-- =================== FIELD NHÀ XUẤT BẢN ================== -->
										<div class="form-group col-md-6">
											<label for="company">Nhà xuất bản: </label>
											<div class="wrapper-option-input" id="company-wrapper">
												<input name="companyName"  type="text" class="form-control option-input" id="company" placeholder="VD: Tuổi trẻ">
												<select  for="company" multiple id="company" class="form-control box-options">
													<option th:each="company : ${listCompany}"
														th:utext="${company.name}"
														th:value="${company.idCompany}"></option>
												</select>
												<p class="form-message">Không hợp lệ !!</p>
											</div>
										</div>
									</div>

									<div class="form-row">
									
									<!-- =================== FIELD DANH MỤC SÁCH ================== -->
										<div class="form-group col-md-12">
											<label for="category">Danh Mục Sách:</label> 
											<div class="wrapper-option-input" id="category-wrapper">
												<input name="categoryName"  type="text" class="form-control option-input" id="bookcategory" placeholder="VD: Sách Khoa Học">
												<select  multiple id="category" class="form-control box-options">
													<option th:each="category : ${listCategory}"
														th:utext="${category.name}"
														th:value="${category.categoryId}"></option>
												</select>
												<p class="form-message">Không hợp lệ !!</p>
											</div>
										</div>
									</div>

									<div class="form-row">
									
									<!-- =================== FIELD NGÀY XUẤT BẢN ================== -->
										<div class="form-group col-md-6">
											<label for="publish-day">Ngày xuất bản:</label> 
											<input th:field="*{publishDay}" class="form-control" id="datepickerfrom" name="publish-day" type="date" />
											<p class="form-message" >Không hợp lệ !!</p>
										</div>
										
									<!-- =================== FIELD GIÁ SÁCH ======================= -->
										<div class="form-group col-md-6">
											<label for="price">Giá:</label> 
											<input th:field="*{price}" type="text" class="form-control" id="price">
											<p class="form-message" >Không hợp lệ !!</p>
										</div>
									</div>
								</div>
								<div style="margin-left: 5%;" class="form-group col-md-5">
								
								<!-- =========================== FIELD ẢNH ======================== -->
									<div class="d-flex mb-2">
										<label for="picture" style="cursor:pointer;">
											Ảnh:
											<i class="far fa-folder-open btn btn-warning"> Add</i>
										</label> 
										<input name="fileImage" type="file" accept="image/*" onchange="loadFile(event)" class="form-control-file ml-2 d-none" id="picture">
										&nbsp; &nbsp;<p class="form-message" >Vui lòng chọn ảnh !!</p>
									</div>
									<label for="picture" class="display-img border">
										<img  id="img-output" style="height:300px;width:auto;" class="card-img-top " th:src="@{/image/choosing-img-icon.png}"
											alt="Book image">
									</label>
								</div>
							</div>
							<div class="form-row">
							
							<!-- ======================== FIELD SỐ LƯỢNG ======================== -->
								<div class="form-group col-md-2">
									<label for="total-quantity">Số lượng: </label> <input 
									 th:field="*{totalQuantity}"	type="number" min="1"  class="form-control" id="total-quantity" >
										<p class="form-message" >Không hợp lệ !!</p>
								</div>
								
							<!-- ====================== FIELD MÔ TẢ ========================= -->
								<div class="form-group col-md-5">
									<label for="describe-book">Mô tả:</label>
									<textarea th:field="*{describeBook}" style="resize: none;" class="form-control"
										id="describe-book" rows="5" cols="50"></textarea>
								</div>
							</div>
							
							<!-- BUTTON SUBMIT -->
							<div style="text-align: center;">
								<button type="submit" class="btn btn-primary btn-submit">Xác Nhận</button>
							</div>
						</div>
					</div>
				</form>
				 
			<!-- ===============DIALOG DELETE BOOK =======================-->
				<form th:action="@{/admin/book/delete}" class="from__confirm" th:method="post">
					<div class="card">
						<div class="card-header">Xác nhận xóa</div>
						
						<div class="card-body" style="text-align: center;">
							<p class="card-text ">Bạn chắc chắn muốn xóa sách có id: <strong id="book-id"></strong>
							<input type="text" class="form-control input-delete d-none" name="id" th:value="${book.idBook}"></p>
							<div class="btns-comfirm d-flex justify-content-end">
														
								<a style="color: white;cursor: pointer;" class="btn btn-secondary btn-cancel mr-3">Hủy</a>
								
								<button type="submit" class="btn btn-primary">Xác Nhận</button>
								
							</div>
							
						</div>
					</div>
				</form>			
			
			</main>
		</div>
	</div>
	<br> <br>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
	<script th:src="@{/script/adminJs/headerHandle.js}" ></script>
	<script th:src="@{/script/adminJs/book.js}"></script>
	<script th:src="@{/script/adminJs/popup.js}"></script>
	<script th:src="@{/script/validate_input.js}"></script>
      <script th:inline="javascript">
        Validator({
          form: '.from__add--book',
          rules:[
            Validator.isRequired('#book-name'),
            Validator.isRequired('#author'),
            Validator.isRequired('#company'),
            Validator.isRequired('#bookcategory'),
            Validator.isRequired('#total-quantity'),
            Validator.isNum('#price'),
            //Validator.isRequired('#picture'),
            Validator.isRequired('#datepickerfrom')
          ]
        });
        
        $(document).ready(function() {
        	$('table .btn__edit--book').on('click',function(){
        		/*<![CDATA[*/
	        	    var listBook = /*[[${listBook}]]*/ 'default';
        		/*]]>*/
				console.log(listBook);
        	    var id = $(this).parent().find('#idBook').val();
        	    var book =listBook.find(element=>element.idBook==id)
    			var link = '/image/'+ book.picture;
    			$('.form-row #idBook').val(book.idBook);
    			$('#book-name').val(book.bookName);
    			$('#author').val(book.author.name);
    			$('#company').val(book.company.name);
    			$('#datepickerfrom').val(book.publishDay);
    			$('#price').val(book.price);
    			$('#img-output').attr("src","/image/"+book.picture);
    			$('#bookcategory').val(book.category.name);
    			$('#total-quantity').val(book.totalQuantity);
    			$('#describe-book').val(book.describeBook);
        		

        	});
        	
        	/*<![CDATA[*/
	    	    var successMes = /*[[${successMes}]]*/ 'default';
	    	    var erorrMes = /*[[${erorrMes}]]*/ 'default';
			/*]]>*/
			checkPopup(successMes,erorrMes)
			
          	//load lại vị trí scroll chuột
   			var lastScrollTop = $.cookie('last-scroll-top');
   			if (lastScrollTop) {
   			    $(window).scrollTop(lastScrollTop);
   			    console.log(lastScrollTop)
   			    $.removeCookie('last-scroll-top');
   			} 
   			
   			//lưu vị trí scroll trước khi chuyển page
   			$(".page-links").on('click',function(){
   				$.cookie('last-scroll-top', $(window).scrollTop());
   			})
   			$('.btn-submit').on('click',function(){
   				$.cookie('last-scroll-top', $(window).scrollTop());
   			})
        	
        });
      </script>
	
</body>
</html>