<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title th:replace = "/admin/fragments/head-tag.html :: title">Title</title>
	<th:block th:insert="/admin/fragments/head-tag.html :: link"></th:block>
</head>
	
<body>
	<!-- ============================== HEADER ================================= -->
	<div th:replace="/admin/fragments/header.html :: admin-header"> </div>
	
	<div class="container-fluid">
		<div class="row">
		
			<!-- ================= NAVIGATION =================== -->
			<nav th:replace="/admin/fragments/navigation.html :: admin-nav('Customers')"></nav>
				
			<!-- ===================MAIN CONTENT=================== -->
			<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
				<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-1 pb-1 mb-1 border-bottom">
					<div class="m-2">
						<button type="button" class="btn btn-success btn__add--user">
							<i class="fas fa-plus"></i> New User</i>
						</button>
					</div>
					
					<div class="btn-toolbar mb-2 mb-md-0">
						<div class="btn-group mr-2">
							<button class="btn btn-sm btn-outline-secondary">Share</button>
							<button class="btn btn-sm btn-outline-secondary">Export</button>
						</div>
						<button class="btn btn-sm btn-outline-secondary dropdown-toggle">
							<span data-feather="calendar"></span> This week
						</button>
					</div>
				</div>

				<!-- TABLE VIEW -->
				<div class="table-responsive rounded-top rounded-bottom">
					<table class="table table-bordered" id="myTable">
						<thead>
							<tr class="table-warning">
								<th scope="col">
									<a th:href="@{'/admin/customer/' + ${currentPage} + '?sortField=userId&sortDir=' +${reverseSortDir}} ">Mã</a>
								</th>
								
						      	<th scope="col">
						      		<a th:href="@{'/admin/customer/' + ${currentPage} + '?sortField=username&sortDir=' +${reverseSortDir}} ">Tên người dùng</a>
						      	</th>
						      	
						      	<th scope="col">
						      		<a th:href="@{'/admin/customer/' + ${currentPage} + '?sortField=email&sortDir=' +${reverseSortDir}} ">Email</a>
						      	</th>
						      		
						      	<th scope="col">
						      		<a th:href="@{'/admin/customer/' + ${currentPage} + '?sortField=phone&sortDir=' +${reverseSortDir}} ">SĐT</a>
						      	</th>
						      	<th class="align-middle" style=" width:10%;" scope="col">Alter</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="user : ${listUser}">
								<td th:text="${user.userId}">##</td>
								<td th:text="${user.username}">##</td>
								<td th:text="${user.email}">##</td>
								<td th:text="${user.phone}">##</td>
								 
								<td class="align-middle text-center">
									<button type="button" class="btn btn-warning m-1 btn__edit--user">
							          <i class="far fa-edit"></i>
							        </button>
							        <button type="button" class="btn btn-danger btn__delete--user" th:id="${user.userId}">
							          <i style="color:black;" class="far fa-trash-alt"></i>
							        </button>
							       <input type="hidden" id="userId" name="userId" th:value="${user.userId}" >
						      </td>
							</tr>
						</tbody>
					</table>
					
					
					<div th:if = "${totalPage > 1}">
						<div class = "row col-sm-10">
							<div class = "col-sm-2">
								Total Items: [[${totalItem}]]	
							</div>
							<div class = "col-sm-1">
								<a th:if="${currentPage > 1}" th:href="@{'/admin/customer/' + ${pageFirst}  + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">First</a>
								<span th:unless="${currentPage > 1}">First</span>
							</div>
							<div class = "col-sm-1">
							<span th:each="i : ${#numbers.sequence(1, totalPage)}">
								<a th:if="${currentPage != i}" th:href= "@{'/admin/customer/' + ${i} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} }">[[${i}]]</a>
								<span th:unless="${currentPage != i}">[[${i}]]</span> &nbsp; &nbsp;
							</span>
							</div >
							<div class = "col-sm-1">
								<a th:if="${currentPage < totalPage}" th:href="@{'/admin/customer/' + ${currentPage +1} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} }">Next</a>
								<span th:unless="${currentPage < totalPage}">Next </span>
							</div>
							<div class = "col-sm-1">
								<a th:if="${currentPage < totalPage}" th:href="@{'/admin/customer/'+${totalPage} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} }">Last</a>
								<span th:unless="${currentPage < totalPage}">Last</span>
							</div>
						</div>
					
					</div>
					
				</div>
			</main>
		</div>
	</div>
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script th:src="@{/script/adminJs/headerHandle.js}"></script>
</body>
</html>