<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Admin</title>
	<link rel="icon" type="image/png" sizes="32x32" th:href="@{../image/icon-book-shop-64.png}">
	<link rel="stylesheet"
		href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
		crossorigin="anonymous">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
	    <link rel="preconnect" href="https://fonts.gstatic.com">
	    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
	<link th:href="@{../css/dashboard.css}" rel="stylesheet">
</head>
	
<body>
	<!-- ============================== HEADER ================================= -->
	<nav class="navbar navbar-dark fixed-top bg-primary flex-md-nowrap p-0 shadow">
		<a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#" >
			<img style="max-height: 30px;" alt="book-store" th:src="@{../image/icon-book-shop-64.png}">
			Book store
		</a> 
		
		<div class="input-group col-sm-6 col-md-5">
		    <input type="text" class="form-control " placeholder="Search please..">
		    <div class="input-group-append">
		      <button class="btn btn-secondary" type="button">
		        <i class="fa fa-search"></i>
		      </button>
		    </div>
  		</div>
  		
		<ul class="navbar-nav px-3">
			<li class="nav-item text-nowrap">
				<a class="nav-link text-light" href="#">Sign out</a>
			</li>
		</ul>
	</nav>
	
	<button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!">
		<span data-feather="home"></button>
	
	<div class="container-fluid">
		<div class="row">
		
			<!-- ================= NAVIGATION =================== -->
			<nav class="col-md-2 d-none d-md-block bg-light sidebar">
				<div class="sidebar-sticky">
					<ul class="nav flex-column nav-style" style="font-size:1rem;">
						<li class="nav-item"><a class="nav-link" th:href="@{/admin/statisticts}"> 
							<i class="fas fa-tasks mr-2"></i>Statistics	
						</a></li>
						<li class="nav-item"><a class="nav-link" th:href="@{/admin/book}">
								<i class="fas fa-book mr-2"></i>Books
						</a></li>
						<li class="nav-item"><a class="nav-link" th:href="@{/admin/order}">
						<i class="fas fa-shopping-cart mr-2"></i>Orders
							</a></li>
						<li class="nav-item"><a class="nav-link" th:href="@{/admin/review}"> 
							<i class="far fa-comments mr-2"></i>Reviews
						</a></li>
						<li class="nav-item"><a class="nav-link active" th:href="@{/admin/customer}">   
							<i class="fas fa-users mr-2"></i>Customers
						</a></li>
					</ul>
				</div>
			</nav>
			
			<!-- ===================MAIN CONTENT=================== -->
			<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
				
			</main>
		</div>
	</div>
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script th:src="@{/script/adminJs/headerHandle.js}"></script>
	<script th:src="@{/script/adminJs/order.js}"></script>
</body>
</html>