<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title th:replace = "/admin/fragments/head-tag.html :: title">Title</title>
	<th:block th:insert="/admin/fragments/head-tag.html :: link"></th:block>
	<link th:href="@{/css/admin/review.css}" rel="stylesheet">
</head>
	
<body>
	<!-- ============================== HEADER ================================= -->
	<nav class="navbar navbar-dark fixed-top bg-primary flex-md-nowrap p-0 shadow">
		<a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#" >
			<img style="max-height: 30px;" alt="book-store" th:src="@{/image/icon-book-shop-64.png}">
			Book store
		</a> 
		
		<div class="input-group col-sm-6 col-md-5">
		    <input type="text" class="form-control " placeholder="Search please..">
		    <div class="input-group-append">
		      <button class="btn btn-secondary" type="button">
		        <i class="fa fa-search"></i>
		      </button>
		    </div>
  		</div>
  		
		<ul class="navbar-nav px-3">
			<li class="nav-item text-nowrap">
				<a class="nav-link text-light mr-1" style="font-size: 25px" th:href="@{/account/check-login}"><i class="far fa-user-circle"></i></a>
				<!-- <a class="nav-link text-light" href="#">Sign out</a> -->
			</li>
		</ul>
	</nav>
	
	<button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!">
		<span data-feather="home"></button>
	
	<div class="container-fluid">
		<div class="row">
		
			<!-- ================= NAVIGATION =================== -->
			<nav th:replace="/admin/fragments/navigation.html :: admin-nav('Reviews')"></nav>
			
			<!-- ===================MAIN CONTENT=================== -->
			<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4 mb-3 main-content">
				<!-- TABLE VIEW -->
				<div class="table-responsive rounded-top rounded-bottom">
					<table class="table table-bordered" id="myTable">
						<thead>
							<tr class="table-warning">
								<th scope="col">
								<a th:href="@{'/admin/review/' + ${currentPage} + '?sortField=idBook&sortDir=' +${reverseSortDir}} ">Mã sách</a></th></th>
						      	<th scope="col">
						      	<a th:href="@{'/admin/review/' + ${currentPage} + '?sortField=bookName&sortDir=' +${reverseSortDir}} ">Tên sách</a>
						      	</th>
						      	<th  scope="col">Ảnh</th>
						      	<th  scope="col">
						      	<a th:href="@{'/admin/review/' + ${currentPage} + '?sortField=totalQuantity&sortDir=' +${reverseSortDir}} ">Tổng số lượt bình luận</a></th>
						      	<th class="align-middle" scope="col">Alter</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="book : ${listBook}">
								<td th:text="${book.idBook}">##</td>
								<td th:text="${book.getBookName()}">##</td>
								<td class="align-middle text-center" >
									<img style="height:120px;width:auto;" class="card-img-top " th:src="@{'/image/' + ${book.getPicture()}}"
										alt="Card image cap">
								</td>
								<td th:text="${book.getTotalQuantity}">##</td>
								 
								<td class="align-middle text-center">
									<button type="button" class="btn btn-warning m-1 btn__edit--book">
							          <i class="far fa-edit"></i> Chi tiết
							        </button>
							       <input type="hidden" id="idBook" name="idBook" th:value="${book.idBook}" >
						      </td>
							</tr>
						</tbody>
					</table>
				</div>
			</main>
		</div>
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script th:src="@{/script/adminJs/headerHandle.js}"></script>
</body>
</html>