<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title th:replace = "/admin/fragments/head-tag.html :: title">Title</title>
	<th:block th:insert="/admin/fragments/head-tag.html :: link"></th:block>
	<link th:href="@{/css/admin/statisticts.css}" rel="stylesheet">
</head>
	
<body>
	<!-- ============================== HEADER ================================= -->
	<div th:replace="/admin/fragments/header.html :: admin-header('none')"></div>
	
	<div class="container-fluid">
		<div class="row">
		
			<!-- ================= NAVIGATION =================== -->
			<nav th:replace="/admin/fragments/navigation.html :: admin-nav('Statistics')"></nav>
			
			<!-- ===================MAIN CONTENT=================== -->
			<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
				<div class="statistics_card row  mb-5" >
					<div  class=" col-md-3 animated fadeIn" >
					  <div class="card prod-p-card card-red" style="background-color: #FF5370">
					  	<div class="card-body">
					  		<div class="row align-items-center m-b-30">
						  		<div class="col">
							  		<h6 class="m-b-5 text-white">Total Profit</h6>
								  	<h3 class="m-b-0 f-w-700 text-white" th:text="${#numbers.formatDecimal(Totalearning, 0, 'POINT', 0, 'POINT')+' đ'}"></h3>
							    </div>
							    <div class="col-auto">
							    	<i class="fas fa-money-bill-alt text-c-red f-18"></i>
							    </div>
						    </div>
						    <p class="m-b-0 text-white">
					  		<span class="label label-danger m-r-10" th:text="${TotalItem+'%'}"></span>
					  		From Previous Month
					  	</p>
					  	</div>
					  	
					  </div>
					</div>
					
					<div  class=" col-md-3 animated fadeIn" >
					  <div class="card prod-p-card card-red" style="background-color: #4099FF">
					  	<div class="card-body">
					  		<div class="row align-items-center m-b-30">
						  		<div class="col">
							  		<h6 class="m-b-5 text-white">Total Oders</h6>
								  	<h3 class="m-b-0 f-w-700 text-white" th:text="${TotalItem}"></h3>
							    </div>
							    <div class="col-auto">
							    	<i class="fas fa-database text-c-blue f-18"></i>
							    </div>
						    </div>
						    <p class="m-b-0 text-white">
						  		<span class="label label-danger m-r-10">+11&</span>
						  		From Previous Month
						  	</p>
					  	</div>
					  </div>
					</div>
					
					<div  class=" col-md-3 animated fadeIn" >
					  <div class="card prod-p-card card-red" style="background-color: #2ed8b6">
					  	<div class="card-body">
					  		<div class="row align-items-center m-b-30">
						  		<div class="col">
							  		<h6 class="m-b-5 text-white">Average Price</h6>
								  	<h3 class="m-b-0 f-w-700 text-white" th:text="${#numbers.formatDecimal(Totalearning/listYear.size(), 0, 'POINT', 0, 'POINT')+' đ'}"></h3> 
							    </div>
							    <div class="col-auto">
							    	<i class="fas fa-dollar-sign text-c-green f-18"></i>
							    </div>
						    </div>
						    <p class="m-b-0 text-white">
						  		<span class="label label-danger m-r-10">+11&</span>
						  		From Previous Month
						  	</p>
					  	</div>
					  </div>
					</div>
					
					<div  class=" col-md-3 animated fadeIn" >
					  <div class="card prod-p-card card-red" style="background-color: #FFB64D">
					  	<div class="card-body">
					  		<div class="row align-items-center m-b-30">
						  		<div class="col">
							  		<h6 class="m-b-5 text-white">Total Users</h6>
								  	<h3 class="m-b-0 f-w-700 text-white" th:text="${NumberUser}"></h3>
							    </div>
							    <div class="col-auto">
							    	<i class="fas fa-tags text-c-yellow f-18"></i>
							    </div>
						    </div>
						    <p class="m-b-0 text-white">
						  		<span class="label label-danger m-r-10">+11&</span>
						  		From Previous Month
						  	</p>
					  	</div>
					  </div>
					</div>
					
				</div>
				
				<div class="card mb-4">
					<div class="row p-2">
						<div class="col-md-10"></div>
	                   	<form method="post" th:action="@{/admin/statisticts}" class="col-md-2 d-flex">
	                    	<select id="year" name="year" class="form-control">
	                    		<option th:each="year: ${listYear}"
								th:utext="${year}"
								th:value="${year}"></option>
	                    	</select>
	                    	<button type="submit" class="btn btn-info ml-1">Xem</button>
	                   	</form>
                   	</div>
                   	
                   	<div class="card-body"><canvas id="myAreaChart" width="100%" height="30"></canvas></div>
                    <div style="font-size: 24px" class="align-middle m-2 text-center">
                        <i class="fas fa-chart-area me-1"></i>
                        THỐNG KÊ DOANH THU 
                    </div>
                </div>
			</main>
		</div>
	</div>
	<!-- SCRIPT HANDLE NAVIGATION -->
	<script type="text/javascript">
		const $=document.querySelector.bind(document);
		const $$=document.querySelectorAll.bind(document);
		const listNav=$$(".nav-style > .nav-item");
		listNav.forEach((nav,index)=>{
			nav.onclick=()=>{
				$(".nav-link.active").classList.remove("active")
				nav.querySelector(".nav-link").classList.add("active");
			}
		})
	</script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
	<script type="text/javascript" th:inline="javascript">
	// Set new default font family and font color to mimic Bootstrap's default styling
	Chart.defaults.global.defaultFontFamily = '-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif';
	Chart.defaults.global.defaultFontColor = '#292b2c';
	const a = ["1", "2", "3", "4", "5", "6", "7", "8", "9", "10", "11", "12"];

	/*<![CDATA[*/

	var message = /*[[${price}]]*/ 'default';



		/*]]>*/
	
	
	// Area Chart Example
	var ctx = document.getElementById("myAreaChart");
	var myLineChart = new Chart(ctx, {
	  type: 'line',
	  data: {
	    labels:  a,
	    datasets: [{
	      label: "Lợi nhuận",
	      lineTension: 0.3,
	      backgroundColor: "rgba(2,117,216,0.2)",
	      borderColor: "rgba(2,117,216,1)",
	      pointRadius: 5,
	      pointBackgroundColor: "rgba(2,117,216,1)",
	      pointBorderColor: "rgba(255,255,255,0.8)",
	      pointHoverRadius: 5,
	      pointHoverBackgroundColor: "rgba(2,117,216,1)",
	      pointHitRadius: 50,
	      pointBorderWidth: 2,
	      data: message,
	    }],
	  },
	  options: {
	    scales: {
	      xAxes: [{
	        time: {
	          unit: 'date'
	        },
	        gridLines: {
	          display: false
	        },
	        ticks: {
	          maxTicksLimit: 12
	        }
	      }],
	      yAxes: [{
	        ticks: {
	          min: 0,
	          max: Math.max(...message),
	          maxTicksLimit: 6
	        },
	        gridLines: {
	          color: "rgba(0, 0, 0, .125)",
	        }
	      }],
	    },
	    legend: {
	      display: false
	    }
	  }
	});

	</script>
</body>
</html>