<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Admin</title>
	<link rel="icon" type="image/png" sizes="32x32" th:href="@{../image/icon-book-shop-64.png}">
	<link rel="stylesheet"
		href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
		crossorigin="anonymous">
	
	<!-- LINK FONTAWESOME -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    
    <!-- LINK CSS -->
	<link th:href="@{../css/dashboard.css}" rel="stylesheet">
</head>
	
<body>
	<!-- ============================== HEADER ================================= -->
	<nav class="navbar navbar-dark fixed-top bg-primary flex-md-nowrap p-0 shadow">
		<a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#" >
			<img style="max-height: 30px;" alt="book-store" th:src="@{../image/icon-book-shop-64.png}">
			Book store
		</a> 
		
		<div class="input-group col-sm-6 col-md-5">
		    <input type="text" class="form-control " placeholder="Search please..">
		    <div class="input-group-append">
		      <button class="btn btn-secondary" type="button">
		        <i class="fa fa-search"></i>
		      </button>
		    </div>
  		</div>
  		
		<ul class="navbar-nav px-3">
			<li class="nav-item text-nowrap">
				<a class="nav-link text-light" href="#">Sign out</a>
			</li>
		</ul>
	</nav>
	
	<button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!">
		<span data-feather="home"></button>
	
	<div class="container-fluid">
		<div class="row">
		
			<!-- ================= NAVIGATION =================== -->
			<nav class="col-md-2 d-none d-md-block bg-light sidebar">
				<div class="sidebar-sticky">
					<ul class="nav flex-column nav-style" style="font-size:1rem;">
						<li class="nav-item"><a class="nav-link active" th:href="@{/admin/statisticts}"> 
							<i class="fas fa-chart-line mr-2"></i>Statistics	
						</a></li>
						<li class="nav-item"><a class="nav-link" th:href="@{/admin/book}">
								<i class="fas fa-book mr-2"></i>Books
						</a></li>
						<li class="nav-item"><a class="nav-link" th:href="@{/admin/order}">
						<i class="fas fa-shopping-cart mr-2"></i>Orders
							</a></li>
						<li class="nav-item"><a class="nav-link" th:href="@{/admin/review}"> 
							<i class="far fa-comments mr-2"></i>Reviews
						</a></li>
						<li class="nav-item"><a class="nav-link" th:href="@{/admin/customer}">   
							<i class="fas fa-users mr-2"></i>Customers
						</a></li>
					</ul>
				</div>
			</nav>
			
			<!-- ===================MAIN CONTENT=================== -->
			<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
				<div class="statistics_card mb-3" style="display: flex;justify-content: space-around;">
					<div style="width:25%; height: 10%" class="card text-white bg-success" >
					  <div style="display: flex; align-items: center; " class="card-body">
					  	<div  class="card-icon mr-3">
					  		<i style="font-size: 70px;" class="far fa-money-bill-alt"></i>
					  	</div>
					  	<div>
						  	<h5 class="carsd-title">70.000.000 VNĐ</h5>
						    <p class="csard-text">TOTAL EARNINGS</p>
					  	</div>
					  </div>
					</div>
					
					<div style="width:25%; height: 10%" class="card text-white bg-warning">
					  <div style="display: flex; align-items: center;" class="card-body">
					  	<div class="card-icon mr-3">
					  		<i style="font-size: 70px;" class="fas fa-shopping-cart"></i>
					  	</div>
					  	<div>
						  	<h5 class="card-title">388,688</h5>
						    <p class="card-text">ITEMS SOLD</p>
					  	</div>
					  </div>
					</div>
					
					<div style="width:25%; height: 10%" class="card text-white bg-primary">
					  <div style="display: flex; align-items: center;" class="card-body">
					  	<div class="card-icon mr-3">
					  		<i style="font-size: 70px;" class="far fa-user"></i>
					  	</div>
					  	<div>
						  	<h5 class="card-title" th:text="${NumberUser}"></h5>
						    <p class="card-text">TOTAL USERS</p>
					  	</div>
					  </div>
					</div>
				</div>
				
				<div class="card mb-4">
                            <div style="font-size: 24px" class="align-middle m-2">
                                <i class="fas fa-chart-area me-1"></i>
                                Revenue chart
                            </div>
                            <div class="card-body"><canvas id="myAreaChart" width="100%" height="30"></canvas></div>
                            <div class="card-footer small text-muted">#####</div>
                        </div>
			</main>
		</div>
	</div>
	<!-- SCRIPT HANDLE NAVIGATION -->
	<script type="text/javascript">
		const $=document.querySelector.bind(document);
		const $$=document.querySelectorAll.bind(document);
		const listNav=$$(".nav-style > .nav-item");
		listNav.forEach((nav,index)=>{
			nav.onclick=()=>{
				$(".nav-link.active").classList.remove("active")
				nav.querySelector(".nav-link").classList.add("active");
			}
		})
	</script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
	<script type="text/javascript" th:inline="javascript">
	// Set new default font family and font color to mimic Bootstrap's default styling
	Chart.defaults.global.defaultFontFamily = '-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif';
	Chart.defaults.global.defaultFontColor = '#292b2c';
	const a = ["1", "2", "3", "4", "5", "6", "7", "8", "9", "10", "11", "12"];

	/*<![CDATA[*/

	var message = /*[[${price}]]*/ 'default';
	console.log(message);

		/*]]>*/
	

	
	// Area Chart Example
	var ctx = document.getElementById("myAreaChart");
	var myLineChart = new Chart(ctx, {
	  type: 'line',
	  data: {
	    labels:  a,
	    datasets: [{
	      label: "Sessions",
	      lineTension: 0.3,
	      backgroundColor: "rgba(2,117,216,0.2)",
	      borderColor: "rgba(2,117,216,1)",
	      pointRadius: 5,
	      pointBackgroundColor: "rgba(2,117,216,1)",
	      pointBorderColor: "rgba(255,255,255,0.8)",
	      pointHoverRadius: 5,
	      pointHoverBackgroundColor: "rgba(2,117,216,1)",
	      pointHitRadius: 50,
	      pointBorderWidth: 2,
	      data: message,
	    }],
	  },
	  options: {
	    scales: {
	      xAxes: [{
	        time: {
	          unit: 'date'
	        },
	        gridLines: {
	          display: false
	        },
	        ticks: {
	          maxTicksLimit: 7
	        }
	      }],
	      yAxes: [{
	        ticks: {
	          min: 0,
	          max: 40000,
	          maxTicksLimit: 5
	        },
	        gridLines: {
	          color: "rgba(0, 0, 0, .125)",
	        }
	      }],
	    },
	    legend: {
	      display: false
	    }
	  }
	});

	</script>
</body>
</html>